@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-10-21 11:26:33
 * @version $Id$
 */
/* reset */
body,p{
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style:none;
}

/* reset  end */



#box{
	width: 554px;
	height: 300px;
	background: url(../img/bg.png) no-repeat;
	margin:30px auto;
	padding-top: 60px;
}

.content{
	width: 190px;
	margin: auto;
	background: #e15671;
	border-radius: 5px;
	font:20px/36px "微软雅黑";
	color:#fff;
	padding: 15px 10px 10px;
}

.title{
	width: 113px;
	padding-left:77px;
	background: url(../img/logo.png) no-repeat 34px 6px;

}

.list{
	width: 157px;
	background: #fff;
	font:16px/30px "微软雅黑";
	color: #000;
	padding: 21px 0 8px 33px;
	border-radius: 5px;
}

.list li{
	padding-left: 27px;
	background: url(../img/li-bg.png) no-repeat 0 8px;
}



.list li.active{
	background: url(../img/li-act.png) no-repeat 0 8px;
}